# Composer
/vendor

# WordPress Core
/wp

# WordPress configuration
/wp-config.php

# Plugins
/content/plugins/*
!/content/plugins/showMessage
# Thèmes
/content/themes/*
!/content/themes/storefront-child
# wp-content
/content/languages
/content/upgrade

